.navbar {
    font-family: "Iosevka Charon";
    width: 100%;
    height: 115px;
    background-color: #f8f5ed;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 28px;
    box-sizing: border-box;

    position: relative;
}

.navbar-logo {
    width: 105px;
    height: auto;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-icon-button {
    width: 48px;
    height: 48px;

    border: none;
    border-radius: 50%;
    background-color: #f0eee6;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

/* Hamburger icon
.nav-icon-button:first-child {
    flex-direction: column;
    gap: 5px;
} */

/* .hamburger-line {
    width: 22px;
    height: 2px;
    background-color: #9a6a00;
    border-radius: 10px;
} */

/* Search icon */
/* .search-icon {
    width: 18px;
    height: 18px;
    border: 3px solid #b36b00;
    border-radius: 50%;

    position: relative;
} */

/* .search-icon::after {
    content: "";
    width: 10px;
    height: 3px;
    background-color: #b36b00;

    position: absolute;
    right: -8px;
    bottom: -5px;

    transform: rotate(45deg);
    border-radius: 10px;
} */

.dropdown-menu {
    position: absolute;
    top: 90px;
    left: 28px;

    width: 180px;
    padding: 12px;

    background-color: white;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);

    display: flex;
    flex-direction: column;
    gap: 8px;

    z-index: 999;
}

.dropdown-link {
    font-family: "Iosevka Charon", Arial, sans-serif;
    padding: 12px 14px;

    text-decoration: none;
    color: #333;
    font-size: 16px;
    border-radius: 10px;

    transition: background-color 0.2s ease;
}

.dropdown-link:hover {
    background-color: #f4efe3;
}

.dropdown-link.active {
    background-color: #f4efe3;
    color: #a36a00;
    font-weight: 700;
}