body,
html,
#root {
  margin: 0;
  font-family: "Iosevka Charon";
  overflow-y: auto;
  overflow-x: hidden;
}

p,
h1,
li,
ul {
  margin: 0;
}

.homepage {
  width: 100vw;
  height: 100vh;
  background-color: #fffdf6;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;
  transition: opacity 0.7s ease;
}

.homepage.fade-out {
  opacity: 0;
}

.aboutpage {
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.picUs {
  position: static;
  display: block;

  width: 100%;
  object-fit: contain;

  /* margin: auto auto 0; */
  /* bottom: 0; */
  /* left: 50%; */
  margin-top: auto;
  margin-left: -24px;
  margin-right: -24px;

  /* transform: translateX(-50%); */

  width: calc(100% + 48px);
  height: auto;
  max-height: 35vh;

  /* object-fit: ; */
  /* object-position: bottom center; */
  position: static;
  z-index: 10;
}

.textContent {
  padding: 0;
  margin: 0px;
  margin-bottom: 20px;
  /* max-width: 650px; */

  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: left;
  gap: 10px;
}

.aboutformat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;

  min-height: 100vh;
  padding: 115px 24px 0;
  box-sizing: border-box;
  margin: 10px 0 0 0;
}

.report-bug-text {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  color: var(--orange-alt, #f46021);
  font-family: "Iosevka Charon";
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

.contactUsPage {
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.contactFormat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 115px 24px 0;
  box-sizing: border-box;
  margin: 10px 0 0 0;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.inlinething {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 8px;
}