body,
html,
#root {
  margin: 0;
  font-family: "Iosevka Charon";
}

.homepage {
  width: 100vw;
  height: 100vh;
  background-color: #fffdf6;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;
  transition: opacity 0.7s ease;
}

.homepage.fade-out {
  opacity: 0;
}

/* .aboutpage {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
} */

.picUs {
  position: fixed;
  bottom: 0;
  left: 50%;

  transform: translateX(-50%);

  width: 100vw;
  height: auto;
  max-height: 35vh;

  object-fit: contain;
  object-position: bottom center;

  z-index: 10;
}